<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.example.publishingfarm.Author" id="auth1">
        <property name="auth_name" value="William Shakespeare"/>
        <property name="auth_id" value="101" />
        <property name="book" ref="b1"/>


    </bean>

    <bean class="org.example.publishingfarm.Book" id="b1">
        <property name="book_name" value="English Reader"/>
        <property name="book_id" value="#1"/>
    </bean>

</beans>