<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.example.model.Product" id="p1">
        <property name="productId" value="1001"/>
         <property name="productName" value="OnePlus"/>
        <property name="productPrice" value="50000"/>
    </bean>
    <bean class="org.example.model.Product" id="p2">
        <property name="productId" value="1002"/>
        <property name="productName" value="RealMe"/>
        <property name="productPrice" value="25000"/>
    </bean>

</beans>